---
export const prerender = true;
import Layout from '@layouts/Layout.astro';

import { loadT, getStaticPaths } from '@lib/i18n';

import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
const t = loadT(locale);
---
<Layout t={t} title={t.PageNotFound?.title} desc={t.PageNotFound?.desc}>
  <section class="mb-5 pb-5">
    <div class="container mt-5 pt-5 mb-5 pb-5">
      <h1 class="display-1 fw-bold text-center text-primary pt-5 mt-5">404</h1>
      <p class="text-capitalize fs-4 text-center">{t.PageNotFound?.title}</p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-primary" role="button" href={`/${locale}/`}>{t.PageNotFound?.btn}</a>
      </div>
    </div>
  </section>
</Layout>

