---
export const prerender = true;
import Layout from '@layouts/Layout.astro';
import { loadT } from '@lib/i18n';
import { markdownToHtml } from '@components/Markdown';

import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
const t = loadT(locale);
const html = markdownToHtml(t.tos?.md ?? '');
---
<Layout t={t} title={t.tos?.title} desc={t.tos?.desc} pictureURL="/img/banners/terms_of_service_banner.webp">
  <section class="container-lg d-flex justify-content-center my-5" style="max-width: 1100px;">
    <div class="card border-0 shadow-sm w-100">
      <div class="card-body px-4 py-4">
        <div class="mb-3">
          <div class="d-flex flex-wrap">
            {(t.tos?.tags ?? '').split(',').map((category: string) => (
              <span class="badge bg-primary text-light m-1">{category}</span>
            ))}
          </div>
          <h1 class="text-light fw-bold text-shadow mt-2">{t.tos?.title}</h1>
        </div>
        <div class="content">
          <Fragment set:html={html} />
        </div>
      </div>
    </div>
  </section>
</Layout>

